[submodule "cookbooks/chef-solo-search"]
	path = cookbooks/chef-solo-search
	url = https://github.com/edelight/chef-solo-search.git
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim.git
[submodule "cookbooks/zsh"]
	path = cookbooks/zsh
	url = https://github.com/opscode-cookbooks/zsh.git
[submodule "cookbooks/oh-my-zsh"]
	path = cookbooks/oh-my-zsh
	url = https://github.com/hw-cookbooks/oh-my-zsh.git
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = https://github.com/fnichol/chef-rbenv.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/database"]
	path = cookbooks/database
	url = https://github.com/opscode-cookbooks/database.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = https://github.com/opscode-cookbooks/postgresql.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/omnibus_updater"]
	path = cookbooks/omnibus_updater
	url = https://github.com/hw-cookbooks/omnibus_updater.git
[submodule "cookbooks/aws"]
	path = cookbooks/aws
	url = https://github.com/opscode-cookbooks/aws.git
[submodule "cookbooks/xfs"]
	path = cookbooks/xfs
	url = https://github.com/opscode-cookbooks/xfs.git
