[submodule "cookbooks/chef-solo-search"]
	path = cookbooks/chef-solo-search
	url = https://github.com/edelight/chef-solo-search.git
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim.git
[submodule "cookbooks/zsh"]
	path = cookbooks/zsh
	url = https://github.com/opscode-cookbooks/zsh.git
[submodule "cookbooks/oh-my-zsh"]
	path = cookbooks/oh-my-zsh
	url = https://github.com/hw-cookbooks/oh-my-zsh.git
